<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MembersEntities" connectionString="metadata=res://*/MMentity.csdl|res://*/MMentity.ssdl|res://*/MMentity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MB-LENOVO\SQL2016;initial catalog=Members;persist security info=True;user id=sa;password=1!Sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value="Debug"/>
    <add key="LogPath" value="C:\MMSLogs"/>
    <add key="WatchFolder" value="d:\Projects\Jp\MM\Files\"/>
    <add key="WatchFileType" value="*.csv"/>
    <!-- MailUp-->
    <!-- 
    MailUpDisable: 
    1 is running 
    0 is disabled 
    If running scheduling job will load procesessed members to MailUp.
    -->
    <add key="MailUpDisable" value="1"/>
    <add key="MailUpClientId" value="17db1ddb-a7ed-4934-af71-4117f6606f5f"/>
    <add key="MailUpClientSecret" value="a0c6cee6-5b91-493c-b6f4-67cb1e789fc7"/>
    <add key="MailUpCallbackUri" value="http://127.0.0.1:64141/Default.aspx"/>
    <add key="MailUpUser" value="m105550_02"/>
    <add key="MailUpPassword" value="Landbrug17"/>
    <add key="MailUpListId" value="4"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
