// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/') Member Management
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='index.html')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | Dashboard

      li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
        a.nav-link(href='segment.html')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | Segment name
     
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
        a.nav-link(href='segment.html')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | Segment name

      li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
        a.nav-link(href='segment.html')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | Segment name

      li.nav-item(data-toggle='tooltip', data-placement='right', title='New')
        a.nav-link(href='create-new-segment.html')
          i.fa.fa-fw.fa-new
          span.btn.btn-primary
            | Create new Segment

    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left
    ul.navbar-nav.ml-auto
   


      li.nav-item
        a.nav-link(data-toggle='modal', data-target='#exampleModal')
          i.fa.fa-fw.fa-sign-out
          | Logout
