
@{
    ViewBag.Title = "Creat Board Member";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Create new member</div>
    <div class="card-body">
        <form>
            <div class="form-group"><label for="segmentName">Name</label><input class="form-control" id="segmentName" type="text" placeholder="Enter member name"></div><code>Put Recipient and corresponding table fields here.</code>
        </form><a class="btn btn-primary btn-block"
                  href="member.html">Create</a>
    </div>
</div>

